<a href="https://colab.research.google.com/github/chosoungjun/Mid_Project/blob/main/Mid_Term_project_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC_population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/co2_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50191 entries, 0 to 50190
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    50191 non-null  object
 1   year                                       50191 non-null  int64
 2   iso_code                                   42262 non-null  object
 3   population                                 41019 non-null  float64
 4   gdp                                        15251 non-null  float64
 5   cement_co2                                 28863 non-null  float64
 6   cement_co2_per_capita                      25358 non-null  float64
 7   co2                                        29137 non-null  float64
 8   co2_growth_abs                             26981 non-null  float64
 9   co2_growth_prct                            26002 non-null  float64
 10  co2_including_luc                          23585 non-null  float64
 11  co2_including_luc_growth_abs               23285 non-null  float64
 12  co2_including_luc_growth_prct              23285 non-null  float64
 13  co2_including_luc_per_capita               23495 non-null  float64
 14  co2_including_luc_per_gdp                  16790 non-null  float64
 15  co2_including_luc_per_unit_energy          9701 non-null   float64
 16  co2_per_capita                             26182 non-null  float64
 17  co2_per_gdp                                17528 non-null  float64
 18  co2_per_unit_energy                        10350 non-null  float64
 19  coal_co2                                   21755 non-null  float64
 20  coal_co2_per_capita                        21050 non-null  float64
 21  consumption_co2                            4866 non-null   float64
 22  consumption_co2_per_capita                 4502 non-null   float64
 23  consumption_co2_per_gdp                    4444 non-null   float64
 24  cumulative_cement_co2                      28841 non-null  float64
 25  cumulative_co2                             27328 non-null  float64
 26  cumulative_co2_including_luc               23585 non-null  float64
 27  cumulative_coal_co2                        21755 non-null  float64
 28  cumulative_flaring_co2                     15891 non-null  float64
 29  cumulative_gas_co2                         18014 non-null  float64
 30  cumulative_luc_co2                         37236 non-null  float64
 31  cumulative_oil_co2                         25217 non-null  float64
 32  cumulative_other_co2                       3202 non-null   float64
 33  energy_per_capita                          10109 non-null  float64
 34  energy_per_gdp                             7696 non-null   float64
 35  flaring_co2                                15952 non-null  float64
 36  flaring_co2_per_capita                     14694 non-null  float64
 37  gas_co2                                    18014 non-null  float64
 38  gas_co2_per_capita                         17292 non-null  float64
 39  ghg_excluding_lucf_per_capita              35639 non-null  float64
 40  ghg_per_capita                             35813 non-null  float64
 41  land_use_change_co2                        37236 non-null  float64
 42  land_use_change_co2_per_capita             36434 non-null  float64
 43  methane                                    37410 non-null  float64
 44  methane_per_capita                         35813 non-null  float64
 45  nitrous_oxide                              38280 non-null  float64
 46  nitrous_oxide_per_capita                   36320 non-null  float64
 47  oil_co2                                    25218 non-null  float64
 48  oil_co2_per_capita                         24436 non-null  float64
 49  other_co2_per_capita                       2474 non-null   float64
 50  other_industry_co2                         3202 non-null   float64
 51  primary_energy_consumption                 10151 non-null  float64
 52  share_global_cement_co2                    21960 non-null  float64
 53  share_global_co2                           27328 non-null  float64
 54  share_global_co2_including_luc             23585 non-null  float64
 55  share_global_coal_co2                      21755 non-null  float64
 56  share_global_cumulative_cement_co2         21960 non-null  float64
 57  share_global_cumulative_co2                27328 non-null  float64
 58  share_global_cumulative_co2_including_luc  23585 non-null  float64
 59  share_global_cumulative_coal_co2           21755 non-null  float64
 60  share_global_cumulative_flaring_co2        10869 non-null  float64
 61  share_global_cumulative_gas_co2            15034 non-null  float64
 62  share_global_cumulative_luc_co2            37236 non-null  float64
 63  share_global_cumulative_oil_co2            23592 non-null  float64
 64  share_global_cumulative_other_co2          2108 non-null   float64
 65  share_global_flaring_co2                   10869 non-null  float64
 66  share_global_gas_co2                       15034 non-null  float64
 67  share_global_luc_co2                       37236 non-null  float64
 68  share_global_oil_co2                       23592 non-null  float64
 69  share_global_other_co2                     2108 non-null   float64
 70  share_of_temperature_change_from_ghg       41001 non-null  float64
 71  temperature_change_from_ch4                38060 non-null  float64
 72  temperature_change_from_co2                41001 non-null  float64
 73  temperature_change_from_ghg                41001 non-null  float64
 74  temperature_change_from_n2o                38060 non-null  float64
 75  total_ghg                                  37410 non-null  float64
 76  total_ghg_excluding_lucf                   37236 non-null  float64
 77  trade_co2                                  4535 non-null   float64
 78  trade_co2_share                            4535 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 30.3+ MB

In [ ]:
df.isnull().sum()

country                            0
year                               0
iso_code                        7929
population                      9172
gdp                            34940
                               ...
temperature_change_from_n2o    12131
total_ghg                      12781
total_ghg_excluding_lucf       12955
trade_co2                      45656
trade_co2_share                45656
Length: 79, dtype: int64

In [ ]:
df_clean = df.dropna(subset=['co2_per_capita', 'co2_growth_prct', 'co2'])

In [ ]:
df_clean.loc[:, 'population'] = df_clean['population'].bfill()

In [ ]:
print(df_clean[['co2_per_capita', 'co2_growth_prct', 'co2']].head())

     co2_per_capita  co2_growth_prct    co2
200           0.011          475.000  0.084
201           0.012            8.696  0.092
202           0.011            0.000  0.092
203           0.013           16.000  0.106
204           0.013            0.000  0.106

In [ ]:
df_clean.isnull().sum()

country                            0
year                               0
iso_code                        3220
population                         0
gdp                            10789
                               ...
temperature_change_from_n2o     1790
total_ghg                       2004
total_ghg_excluding_lucf        2074
trade_co2                      20864
trade_co2_share                20864
Length: 79, dtype: int64

In [ ]:
island_countries = [
    # 아메리카
    "Grenada", "Dominica", "Barbados", "Bahamas", "Saint Lucia",
    "Saint Vincent and the Grenadines", "Saint Kitts and Nevis", "Haiti", "Antigua and Barbuda",
    "Jamaica", "Cuba", "Trinidad and Tobago", "Puerto Rico", "British Virgin Islands",
    "U.S. Virgin Islands",

    # 아시아
    "Timor-Leste", "Maldives", "Bahrain", "Brunei", "Sri Lanka", "Singapore",
    "Indonesia", "Japan", "Taiwan", "Philippines", "British Indian Ocean Territory",

    # 아프리카
    "Madagascar", "Mauritius", "Sao Tome and Principe", "Seychelles", "Cape Verde", "Comoros",
    "Saint Helena", "Ascension Island", "Tristan da Cunha",

    # 오세아니아
    "Nauru", "New Zealand", "Marshall Islands", "Micronesia", "Vanuatu", "Samoa", "Solomon Islands",
    "Kiribati", "Tonga", "Tuvalu", "Papua New Guinea", "Palau", "Fiji", "Cook Islands",

    # 유럽
    "United Kingdom", "Ireland", "Malta", "Iceland", "Cyprus",

    # 기타 섬 지역
    "Montserrat", "Turks and Caicos Islands", "Cayman Islands", "Curaçao",
    "Saint Barthelemy", "Saint Martin", "Saint Pierre and Miquelon", "Faroe Islands",
    "Gibraltar", "Isle of Man", "Guernsey", "Jersey", "Madeira", "Greenland",
    "New Caledonia", "Niue", "Norfolk Island", "Pitcairn Islands", "Tokelau",
    "Wallis and Futuna", "Reunion", "Christmas Island", "Cocos (Keeling) Islands"
]




# df['island']에 섬나라 여부를 할당
df_clean = df_clean.copy()  # 데이터프레임을 복사
df_clean.loc[:, 'island'] = df_clean['country'].apply(lambda x: "Island" if x in island_countries else "Continent")

In [ ]:
df_clean['island'].head()

200    Continent
201    Continent
202    Continent
203    Continent
204    Continent
Name: island, dtype: object

In [ ]:
lat = pd.read_csv('/content/lat.csv')
lat.head()

  ISO3        country    lat_min    lat_max    lon_min    lon_max
0  ABW          Aruba  12.170300  12.810300 -70.280984 -69.640984
1  AFG    Afghanistan  29.377200  38.491068  60.517603  74.889862
2  AGO         Angola -18.038945  -4.388063  11.460979  24.087886
3  AIA       Anguilla  18.061545  18.795119 -63.639199 -62.712545
4  ALA  Åland Islands  59.454158  60.876650  19.083210  21.345656

In [ ]:
print(df_clean['country'].unique()), print(lat['country'].unique())

['Afghanistan' 'Africa' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia'
 'Asia (excl. China and India)' 'Australia' 'Austria' 'Azerbaijan'
 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Benin' 'Bermuda' 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'East Timor' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Europe'
 'Europe (excl. EU-27)' 'Europe (excl. EU-28)' 'European Union (27)'
 'European Union (28)' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Greenland' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana'
 'Haiti' 'High-income countries' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Low-income countries'
 'Lower-middle-income countries' 'Luxembourg' 'Macao' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia (country)' 'Moldova'
 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'North America'
 'North America (excl. USA)' 'North Korea' 'North Macedonia' 'Norway'
 'Oceania' 'Oman' 'Pakistan' 'Palau' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Helena'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South America' 'South Korea' 'South Sudan'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'Upper-middle-income countries' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'Wallis and Futuna' 'World' 'Yemen' 'Zambia'
 'Zimbabwe']
['Aruba' 'Afghanistan' 'Angola' 'Anguilla' 'Åland Islands' 'Albania'
 'Andorra' 'Netherlands Antilles' 'United Arab Emirates' 'Argentina'
 'Armenia' 'American Samoa' 'Antarctica' 'French Southern Territories'
 'Antigua and Barbuda' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'Bahamas' 'Bosnia and Herzegovina' 'Saint Barthélemy' 'Belarus' 'Belize'
 'Bermuda' 'Bolivia, Plurinational State of' 'Brazil' 'Barbados'
 'Brunei Darussalam' 'Bhutan' 'Bouvet Island' 'Botswana'
 'Central African Republic' 'Canada' 'Cocos (Keeling) Islands'
 'Switzerland' 'Chile' 'China' "Côte d'Ivoire" 'Cameroon'
 'Congo, the Democratic Republic of the' 'Congo' 'Cook Islands' 'Colombia'
 'Comoros' 'Cape Verde' 'Costa Rica' 'Cuba' 'Christmas Island'
 'Cayman Islands' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Dominica' 'Denmark' 'Dominican Republic' 'Algeria' 'Ecuador' 'Egypt'
 'Eritrea' 'Western Sahara' 'Spain' 'Estonia' 'Ethiopia' 'Finland' 'Fiji'
 'Falkland Islands (Malvinas)' 'France' 'Faroe Islands'
 'Micronesia, Federated States of' 'Gabon' 'United Kingdom' 'Georgia'
 'Guernsey' 'Ghana' 'Gibraltar' 'Guinea' 'Guadeloupe' 'Gambia'
 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada' 'Greenland'
 'Guatemala' 'French Guiana' 'Guam' 'Guyana' 'Hong Kong'
 'Heard Island and McDonald Islands' 'Honduras' 'Croatia' 'Haiti'
 'Hungary' 'Indonesia' 'Isle of Man' 'India'
 'British Indian Ocean Territory' 'Ireland' 'Iran, Islamic Republic of'
 'Iraq' 'Iceland' 'Israel' 'Italy' 'Jamaica' 'Jersey' 'Jordan' 'Japan'
 'Kazakhstan' 'Kenya' 'Kyrgyzstan' 'Cambodia' 'Kiribati'
 'Saint Kitts and Nevis' 'Korea, Republic of' 'Kuwait'
 "Lao People's Democratic Republic" 'Lebanon' 'Liberia'
 'Libyan Arab Jamahiriya' 'Saint Lucia' 'Liechtenstein' 'Sri Lanka'
 'Lesotho' 'Lithuania' 'Luxembourg' 'Latvia' 'Macao'
 'Saint Martin (French part)' 'Morocco' 'Monaco' 'Moldova, Republic of'
 'Madagascar' 'Maldives' 'Mexico' 'Marshall Islands'
 'Macedonia, the former Yugoslav Republic of' 'Mali' 'Malta' 'Myanmar'
 'Montenegro' 'Mongolia' 'Northern Mariana Islands' 'Mozambique'
 'Mauritania' 'Montserrat' 'Martinique' 'Mauritius' 'Malawi' 'Malaysia'
 'Mayotte' 'Namibia' 'New Caledonia' 'Niger' 'Norfolk Island' 'Nigeria'
 'Nicaragua' 'Niue' 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand'
 'Oman' 'Pakistan' 'Panama' 'Pitcairn' 'Peru' 'Philippines' 'Palau'
 'Papua New Guinea' 'Poland' 'Puerto Rico'
 "Korea, Democratic People's Republic of" 'Portugal' 'Paraguay'
 'Palestinian Territory, Occupied' 'French Polynesia' 'Qatar' 'Réunion'
 'Romania' 'Russian Federation' 'Rwanda' 'Saudi Arabia' 'Sudan' 'Senegal'
 'Singapore' 'South Georgia and the South Sandwich Islands'
 'Saint Helena, Ascension and Tristan da Cunha' 'Svalbard and Jan Mayen'
 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'San Marino' 'Somalia'
 'Saint Pierre and Miquelon' 'Serbia' 'Sao Tome and Principe' 'Suriname'
 'Slovakia' 'Slovenia' 'Sweden' 'Swaziland' 'Seychelles'
 'Syrian Arab Republic' 'Turks and Caicos Islands' 'Chad' 'Togo'
 'Thailand' 'Tajikistan' 'Tokelau' 'Turkmenistan' 'Timor-Leste' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Tuvalu'
 'Taiwan, Province of China' 'Tanzania, United Republic of' 'Uganda'
 'Ukraine' 'United States Minor Outlying Islands' 'Uruguay'
 'United States' 'Uzbekistan' 'Holy See (Vatican City State)'
 'Saint Vincent and the Grenadines' 'Venezuela, Bolivarian Republic of'
 'Virgin Islands, British' 'Virgin Islands, U.S.' 'Viet Nam' 'Vanuatu'
 'Wallis and Futuna' 'Samoa' 'Yemen' 'South Africa' 'Zambia' 'Zimbabwe'
 'Kosovo' 'curacao']

(None, None)

In [ ]:
# 국가명 매핑 테이블 (모든 국가명 통일)
country_mapping = {
    "Cote d'Ivoire": "Côte d'Ivoire",
    "Russian Federation": "Russia",
    "United States": "United States of America",
    "South Korea": "Korea, Republic of",
    "Iran": "Iran, Islamic Republic of",
    "Venezuela": "Venezuela, Bolivarian Republic of",
    "Bolivia": "Bolivia, Plurinational State of",
    "North Macedonia": "Macedonia, the former Yugoslav Republic of",
    "Tanzania": "Tanzania, United Republic of",
    "Vietnam": "Viet Nam",
    "North Korea": "Korea, Democratic People's Republic of",
    "Czechia": "Czech Republic",
    "Libya": "Libyan Arab Jamahiriya",
    "Laos": "Lao People's Democratic Republic",
    "Taiwan": "Taiwan, Province of China",
    "Kuwait": "Kuwait",
    "Syria": "Syrian Arab Republic",
    "Moldova": "Moldova, Republic of",
    "Kosovo": "Kosovo",
    "Montenegro": "Montenegro",
    "Palestine": "Palestinian Territory, Occupied"
}



# 국가명 정리
df_clean['country'] = df_clean['country'].replace(country_mapping)
lat['country'] = lat['country'].replace(country_mapping)

# 대륙 및 그룹명 제외
continents_groups = ["Africa", "Asia", "Europe", "North America", "South America", "Oceania",
                     "World", "European Union (27)", "European Union (28)", "High-income countries",
                     "Low-income countries", "Lower-middle-income countries", "Upper-middle-income countries"]
df_clean = df_clean[~df_clean['country'].isin(continents_groups)]

# 병합
df_clean = df_clean.merge(lat[['country', 'lat_min']], on='country', how='left')

In [ ]:
cold = [
    "Russia",
    "Canada",
    "Alaska",
    "Sweden",
    "Finland",
    "Norway",
    "Iceland",
    "Greenland"
]

# df['region'] 컬럼에 cold, notcold 구분하여 할당
df_clean['climate'] = df_clean['country'].apply(lambda x: 'cold' if x in cold else 'notcold')

df_clean.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share,island,lat_min,climate
0,Afghanistan,1950,AFG,7776182.0,9.421400e+09,0.0,0.0,0.084,0.070,475.000,...,0.0,0.001,0.0,19.447,1.453,NaN,NaN,Continent,29.3772,notcold
1,Afghanistan,1951,AFG,7879343.0,9.692280e+09,0.0,0.0,0.092,0.007,8.696,...,0.0,0.001,0.0,20.458,1.473,NaN,NaN,Continent,29.3772,notcold
2,Afghanistan,1952,AFG,7987783.0,1.001733e+10,0.0,0.0,0.092,0.000,0.000,...,0.0,0.001,0.0,21.356,1.484,NaN,NaN,Continent,29.3772,notcold
3,Afghanistan,1953,AFG,8096703.0,1.063052e+10,0.0,0.0,0.106,0.015,16.000,...,0.0,0.001,0.0,22.361,1.517,NaN,NaN,Continent,29.3772,notcold
4,Afghanistan,1954,AFG,8207953.0,1.086636e+10,0.0,0.0,0.106,0.000,0.000,...,0.0,0.001,0.0,23.256,1.534,NaN,NaN,Continent,29.3772,notcold

In [ ]:
# 북반구/남반구 구분
df_clean['hemisphere'] = df_clean['lat_min'].apply(lambda x: 'northern' if x >= 0 else 'southern')

# 결과 확인
print(df_clean[['country', 'lat_min', 'hemisphere']].sample(10))

                                 country    lat_min hemisphere
6071                            Dominica  15.007421   northern
22497  Venezuela, Bolivarian Republic of   0.647529   northern
3769                              Canada  41.676556   northern
22028                            Uruguay -35.782448   southern
14384                        Netherlands  11.825000   northern
5845                             Denmark  54.451667   northern
30                           Afghanistan  29.377200   northern
11349                              Kenya  -4.899520   southern
22102                            Uruguay -35.782448   southern
1418                             Austria  46.372276   northern

In [ ]:
# CSV 파일로 저장
df_clean.to_csv('final.csv', index=False)